annotated-types==0.7.0
anyio==4.13.0
appdirs==1.4.4
argcomplete==3.1.4
attrs==23.2.0
Babel==2.10.3
bcrypt==3.2.2
beautifulsoup4==4.12.3
blinker==1.7.0
Brotli==1.1.0
certifi==2023.11.17
chardet==5.2.0
click==8.1.6
colorama==0.4.6
configobj==5.0.8
cryptography==41.0.7
cssselect==1.2.0
decorator==5.1.1
defusedxml==0.7.1
distro==1.9.0
fasteners==0.18
fonttools==4.46.0
fpdf2==2.7.8
fs==2.4.16
google-auth==2.52.0
google-genai==2.0.1
h11==0.16.0
html5lib==1.1
httpcore==1.0.9
httplib2==0.20.4
httpx==0.28.1
idna==3.6
importlib-metadata==4.12.0
Jinja2==3.1.2
jsonpatch==1.32
